/* Alap stílusok */
body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* Fejléc stílusok */
header {
  background: #50b3a2;
  color: #fff;
  padding: 20px 0;
  border-bottom: #2980b9 3px solid;
  border-radius: 10px 10px 0 0;
}

header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  margin-right: 10px;
}

header ul {
  padding: 0;
  list-style: none;
}

header ul li {
  display: inline;
}

header h1 {
  float: left;
  margin: 0;
}

/* Bemutatkozás szekció */
#intro {
  padding: 30px;
  background: #e3e3e3;
  border-radius: 10px;
  margin-bottom: 20px;
}

#intro h2 {
  margin-top: 0;
}

/* Legfrissebb cikkek szekció */
#latest-articles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#latest-articles article {
  flex: 1 1 45%;
  background: #fff;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#latest-articles h3 {
  margin-top: 0;
}

.read-more {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background: #50b3a2;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.read-more:hover {
  background: #2980b9;
}

/* Hírlevél szekció */
#newsletter {
  padding: 20px;
  background: #50b3a2;
  color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
}

#newsletter form {
  display: flex;
  flex-wrap: wrap;
}

#newsletter label {
  flex: 1 1 100%;
  margin-top: 10px;
}

#newsletter input[type="email"] {
  flex: 1 1 70%;
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
}

#newsletter button {
  flex: 1 1 20%;
  padding: 10px;
  border: none;
  background: #2980b9;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

#newsletter button:hover {
  background: #216e8a;
}

/* Kapcsolat szekció */
#contact form {
  display: flex;
  flex-direction: column;
}

#contact label {
  margin-top: 10px;
}

#contact input,
#contact textarea {
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#contact button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  background: #50b3a2;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

#contact button:hover {
  background: #2980b9;
}

/* Lábjegyzet */
footer {
  border-top: #333 solid 2px;
  background: #50b3a2;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

footer ul {
  padding: 0;
  list-style: none;
}

footer ul li {
  display: inline;
  margin-right: 10px;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}
li {
  padding-left: 30px;
}
